<h1>All groups will be listed here</h1>

<ul>
{{#each group}}
<li>{{group.groupName}}</li>
{{/each}}
</ul>

{{#unless group}}
<p>Sorry, there are no groups at the moment. Go ahead and create one!</p>
{{/unless}}

<a href="/group/create">Create a new group</a>