<h1>All groups will be listed here</h1>

<ul>
{{#each groups}}
<li><a href="/group/{{_id}}">{{groupName}}</a></li>
{{/each}}
</ul>

{{#unless groups}}
<p>Sorry, there are no groups at the moment. Go ahead and create one!</p>
{{/unless}}

<a href="/group/create">Create a new group</a>