<h2>Create a group</h2>
<form action="/group/create" method="post">

<label for="groupName">Name of your group</label>
<input type="text" name="groupName" id="groupName">

<button type="submit">Create group</button>
</form>