<h2>Create a group</h2>
<div>
    <form action="/group/create" method="post" class="add-form">

        <label for="groupName">Name your group:</label>
        <input type="text" name="groupName" id="groupName">

        <button type="submit" class="button-53">Create group</button>
        
    </form>
</div>