/* SEARCH BAND */
/* #band-grid-item1 {
    grid-column: 1/6;
} */

/* #band-grid-item1 > div {
    width: 20%;
}*/
.band-search-grid-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }

.band-card-info {
    height: 100%;
    display: flex;
    gap: 1rem;
    background-color: transparent;
    filter: grayscale(1);
    word-break: break-word;
}

.band-card-info > div {
    width: 50%;
}

.band-img {
    width: 100%;
    height: auto;
}

.band-card-info:hover {
    filter: grayscale(0);
}

.genre {
    margin-left: .5rem;
    font-size: .8rem;
}

/* ADD BAND FORM */
.band-form-container {
    display: flex;
    gap: 12rem;
}

.band-image-wrapper {
    background-color: var(--secondary-color);
    /* border: var(--secondary-bg-color) solid 2px; */
    border-radius: 15px;
    height: fit-content;
}

.band-image-wrapper > img {
    width: 30rem;
    border: #fff solid 2px;
    border-radius: 15px;
    margin: .2rem;
    padding: .2rem;
}

/* BAND DETAILS */
#band-item1 {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
}

#band-item2 {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#band-item3 {
    grid-column: 2/6;
    grid-row: 1/3;
    background-color: var(--primary-bg-color);
}

#band-item3 > h3 {
    color: var(--secondary-color);
}

.track-container {
    columns: 1;
}

.track {
    justify-content: space-between;
    padding-left: 1rem;
}

#band-item4 {
    grid-column: 1/6;
    grid-row: 3/4;
    background-color: #fff;
    color: var(--secondary-color);
}

#band-item4 > a {
    display: block;
    text-align: center;
    width: 100%;
}

#band-item4:hover {
    background-color: var(--secondary-color);
    color: #fff;
}