/* *************************** */
/******* USER DASHBOARD *******/
/* ************************* */
#username {
    font-family: 'bangers', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
  }

  /* groups */
  #dashboard-item1 {
    grid-column: 1/2;
    grid-row: 1;
  }

  /* #dashboard-item1 > .item-card {
    text-align: center;
  }
   */
  /* .db-group-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  } */
  
  /* .db-group-item {
    border-radius: .5rem;
    background-color: var(--secondary-color);
    color: var(--secondary-bg-color);
    font-weight: bolder;
    padding: 0.3rem;
    max-width: 15rem;
    text-align: center;
  } */
  
  /* watchlist */
  #dashboard-item2 {
    grid-column: 4/6;
    grid-row: 1;
  }
  
  .db-band-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .db-band-item {
    /* border: yellow solid 1px; */
    border-radius: .5rem;
    background-color: var(--secondary-color);
    color: var(--secondary-bg-color);
    font-weight: bolder;
    padding: 0.3rem;
    min-width: 150px;
    width: 15%;
    text-align: center;
    /* display: flex; */
    /*justify-content: space-evenly; */
  }
  
  /* notifications */
  #dashboard-item3 {
    grid-column: 1/6;
  }

  /* carsharing */
  #dashboard-item4 {
    grid-column: 2/4;
    grid-row: 1;
  }

  .height {
    height: 2.5rem;
  }

  /* delete account */
  .delete-wrapper {
    align-self: flex-end;
  }

  .delete-wrapper > form > button {
    width: 300px;
  }

  .caution {
    font-weight: bold;
  }