/* ************************** */
/******* CREATE *******/
/* ************************ */
#groupName {
    border-bottom-color: var(--primary-color);
}

/* ************************** */
/******* OVERVIEW *******/
/* ************************ */  
.element {
    background-color: var(--primary-bg-color);
    border: #fff solid 1px;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
    font-size: 1.4rem;
    }

.element:hover {
    background-color: var(--text-color);
}

#create-group-item {
    background-color: #fff;
    color: var(--secondary-color);
}

#create-group-item:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.element > a {
    width: 100%;
    text-align: center;
}

/* ************************** */
/******* DETAILS *******/
/* ************************ */

/* crew */
#group-grid-item1 {
    grid-column: 1/2;
}

.crew-list {
    display: flex;
}

.crew-list-element:not(:last-child):not(:first-child) {
    border-right: 1px solid #fff;
}

.crew-list-element:not(:first-child) {
    padding: 0 .5rem;
}

.pending-user {
    display: flex;
    align-items: center;
}

.handle-pending-user {
    display: flex;
    align-items: center;
    margin-left: .5rem;
}

.handle-pending-user > a {
    text-transform: none;
    padding: .3rem;
}

#worthy:hover {
    transform: none;
}

#deny {
    border: none;
}

/* festivals overview */
#group-grid-item2 {
    grid-column: 4/6;
}

#choose-festival-card {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.festival-link {
    display: inline;
}

/* festival bands */
#group-grid-item3 {
    grid-column: 1/6;
    grid-row: 2;
}

.who-is-going-container {
    display: flex;
}

.who-is-going-item:not(:last-child) {
    border-right: 1px solid #fff;
    padding-right: .5rem;
    margin-right: .5rem;
}

/* car sharing */
#group-grid-item4 {
    grid-column: 2/4;
    grid-row: 1;
}

.in-out-car-forms {
    display: flex;
    align-items: center;
}

#show-carsharing-form {
    display: none;
  }

.add-car-label {
  color: var(--secondary-bg-color);
  border-bottom: dotted 1px var(--secondary-bg-color);
}

.add-car-label:hover, #show-carsharing-form:checked ~ .add-car-label {
  color: var(--secondary-color);
  border-bottom: dotted 1px var(--secondary-color);
}

.carsharing-form {
  visibility: hidden;
  background-color: #fff;
  color: var(--secondary-color);
  border: var(--secondary-color) 1px solid;
}

.carsharing-form:hover {
    background-color: #fff;
    color: var(--secondary-color);
}
  
#show-carsharing-form:checked ~ .carsharing-form {
  visibility: visible;
}