/* ********************* */
/******* INDEX *******/
/* ******************* */
.index-container {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

  #hp-txt {
    width: 40%;
    text-align: justify;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  
  #hp-info {
    margin-top: 2rem;
    background-color: var(--primary-color);
    border: #fff solid 1px;
    border-radius: 1.5rem;
    padding: 1rem 1.7rem;
    color: #fff;
  }
  
  #logo {
    height: 18rem;
    width: 24rem;
    align-self: center;
  }
  
  .form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25rem;
    height: 31rem;
    overflow: hidden;
    background-color: #fff;
    border: var(--primary-color) solid 2px;
    border-radius: 5%;
  }
  
  .index-form {
    position: relative;
    width: 25rem;
    text-align: center;
  }
  
  .index-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60%;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  #signup-form {
    background-color: #fff;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  #login-form {
    color: #fff;
    position: absolute;
    top: 82%;
    height: 100%;
    /* border: var(--primary-color) solid 2px; */
    border: none;
    background-color: var(--text-color);
    transition: 1.2s ease-in-out;
  }
  
  .index-label {
    transition: 1.2s ease-in-out;
  }

  #index-errorMessage {
    margin-top: .5rem;
    padding: .5rem;
    width: 25rem;
    text-align: center;
  }
  
  /* ********************* */
  /* Toggle Signup & Login */
  /* ********************* */
  #check {
    display: none;
  }
  
  #check:checked ~ #login-form {
    top: 18%;
  }
  
  #check:checked ~ #login-form label{
    transform: scale(1.5);	
  }
  
  .placeholder::placeholder {
    color: #fff;
    margin-left: 1rem;
  }
  
  #check:checked ~ #signup-form {
    font-size: 1rem;
  }
  
  /* ******************* */
  /* Homepage Animation */
  /* ***************** */
  .animation-wrapper {
    position: absolute;
    top: calc(100% - 1.5rem);
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    animation: 2s slideDown;
  }
  
  .animation-obj {
    position: absolute;
    top: 0;
    left: calc(100% - 1.5rem);
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    animation: 2s slideUp;
  }
  
  @keyframes slideUp {
    0% { top: calc(100% - 1.5rem); left: 0%; }
    100% { top: 0%; left: calc(100% - 1.5rem); }
  }
  
  @keyframes slideDown {
    0% { top: 0%; left: calc(100% - 1.5rem); }
    100% { top: calc(100% - 1.5rem); left: 0%; }
  }