/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

div {
  border: 1px solid #000;
} */


/* ************************** */
/******* COLOR PALETTE *******/
/* ************************ */

/* Purple DarkRose Beige */
:root {
  --primary-bg-color: #1A1423;
  --secondary-bg-color: #372549;
  --text-color: #EACDC2;
  --primary-color: #774C60;
  --secondary-color: #B75D69;
}

/* Green Brown Yellow */
/* :root {
  --primary-bg-color: #739E82;
  --secondary-bg-color: #99621e;
  --text-color: #F3FFB6;
  --primary-color: #2C5530;
  --secondary-color: #D38B5D;
} */

/* Black Violet Lavender Mint */
/* :root {
  --primary-bg-color: #070707;
  --secondary-bg-color: #553555;
  --text-color: #ADF1D2;
  --primary-color: #755B69;
  --secondary-color: #96C5B0;
} */

/* Brown Orange Wheat Turquoise */
/* :root {
  --primary-bg-color: #562C2C;
  --secondary-bg-color: #F2542D;
  --text-color: #F5DFBB;
  --primary-color: #0E9594;
  --secondary-color: #127475;
} */

/* Yellow Snow Rose Mint Salom */
/* :root {
  --primary-bg-color: #F5CAC3;
  --secondary-bg-color: #F6BD60;
  --text-color: #F7EDE2;
  --primary-color: #84A59D;
  --secondary-color: #F28482;
} */

/* ********************** */
/********* FONTS *********/
/* ******************** */

@font-face {
  font-family: bangers;
  src: url(/assets/fonts/Bangers/Bangers-Regular.ttf);
}

/* @font-face {
  font-family: laila;
  src: url(/assets/fonts/Laila/Laila-Regular.ttf);
} */

@font-face {
  font-family: poppins;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

/* ********************* */
/******* RESET CSS *******/
/* ********************* */

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

/* ************************** */
/******* GLOBAL STYLES *******/
/* ************************ */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: 'poppins', sans-serif;
  color: var(--primary-color);
  background: linear-gradient(to bottom right,#fff 50%, var(--primary-bg-color) 50%);
  /* background: linear-gradient(to left, var(--primary-bg-color) 50%, #fff 50%); */
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  /* border: purple dashed 1px; */
  padding: 1rem 4rem;
}

.navigation {
  /* background-color: aqua; */
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

main {
  /* border: aqua solid 1px; */
  margin: 2rem 0;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 3rem;
}

footer {
  text-align: center;
  color: #fff;
}

/* *************************** */
/******* GENERAL STYLES *******/
/* ************************* */
/* #logo {
  height: 100px;
  width: 150px;
} */

h1 {
  font-family: 'bangers', sans-serif;
  font-size: 5rem;
  margin-left: 20%;
}

h2 {
  /* margin-top: 0.5rem; */
  font-size: 1.7rem;
  /* align-self: flex-end; */
}

h3 {
  margin: 0.4rem;
}

.helgahelps {
  font-family: 'bangers', sans-serif;
  font-size: 2rem;
}

input {
  /* height: 1.5rem; */
  padding-bottom: .3rem;
  padding-left: .1rem;
  border: none;
  border-bottom: #a3a3a3 solid 2.5px;
  background-color: transparent;
}

input:hover {
  border-bottom: var(--primary-color) solid 2.5px;
}

input:focus, input:valid {
  color: var(--primary-color);
  font-size: 1rem;
  outline: none;
  border-bottom: var(--primary-color) solid 2.5px;
}

.center {
  align-self: center;
}
