<h2>Add a stage to {{name}} festival</h2>
<div>
    <form action="/festival/{{_id}}/add-stage" method="post" class="add-form">
        <label for="stage">Stage name: </label>
        <input type="text" id="stage" name="stage">
        <button type="submit" class="button-53">Add stage</button>
    </form>
</div>