<h2>Add a stage to {{name}} festival</h2>

<form action="/festival/{{_id}}/add-stage" method="post">
<label for="stage">Stage name: </label>
<input type="text" id="stage" name="stage">
<button type="submit">Add stage</button>
</form>