<h2>All festivals</h2>

<div class="grid-container">

    {{#each festivals}}
        <div class="element festival-element">
                <a href="/festival/{{_id}}"><strong>{{name}}</strong> from {{startDate}} to {{endDate}}</a>
        </div>
    {{/each}}

    {{#if isOwner}}
        <div class="element"  id="create-group-item">    
            <a href="/festival/create">Add a festival</a>
        </div>
    {{/if}}
</div>