<h2>All festivals:</h2>
<ul>
{{#each festivals}}
<li>{{name}}: from <b>{{startDate}}</b> to <b>{{endDate}}</b> <a href="/festival/{{_id}}">See details</a></li>
{{/each}}
</ul>

{{#if isOwner}}
<a href="/festival/create">Add a festival</a>
{{/if}}