<h2>Add a festival to the database</h2>

<form action="/festival/create" method="post">

<label for="name">Name of the festival</label>
<input type="text" name="name" id="name">

<label for="startDate">Start</label>
<input type="date" name="startDate" id="startDate">

<label for="endDate">End</label>
<input type="date" name="endDate" id="endDate">

<button type="submit">Next</button>
</form>
