<h2>Add a festival to the database</h2>
<div>
    <form action="/festival/create" method="post" class="add-form">

        <label for="name">Name of the festival</label>
        <input type="text" name="name" id="name" {{#if name}}value="{{name}}"{{/if}}>

        <label for="startDate">First day</label>
        <input type="date" name="startDate" id="startDate" {{#if startDate}}value="{{startDate}}"{{/if}}>

        <label for="endDate">Last day</label>
        <input type="date" name="endDate" id="endDate" {{#if endDate}}value="{{endDate}}"{{/if}}>

        <button type="submit" class="button-53">Add</button>
        {{#if errorMessage}}
        <div class="errorMessage">
            {{errorMessage}}
        </div>
        {{/if}}
    </form>
</div>